
@{
    ViewData["Title"] = "Error";
}

<head>
    <title>İşlem Hatalı | Koru Sigorta</title>
</head>

<body>
    <div class="container">
        <h2>İşlem Hatalı</h2>
        <h4 class="text-danger mt-3">Randevunuz oluşturulamadı. Bilgilerini kontrol edip tekrar deneyiniz.</h4>
        <br />
        <a asp-controller="Appointment" asp-action="CreateAppointment" class="btn btn-info">Geri Git</a>
    </div>
</body>


