@model IQueryable<RandevuTakip.ENTITIES.Appointment>

@{
    ViewData["Title"] = "Search";
}

<head>
    <title>Onaylanan Randevular | Koru Sigorta</title>
</head>
<div class="container">
    <h3 class="mb-5" style="color:orange">Onaylanan Randevular</h3>
    <br /><br />
    <div class="row">
        <div class="col-md-4">
            <h4>Filtreleme</h4>
            <hr />
            <form asp-controller="Appointment" asp-action="Search" method="get" class="form-inline">
                <div class="row">
                    <div class="col-md-8">
                        <input type="search" name="SearchString" class="form-control"/>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-outline-success">Ara</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Randevu Id</th>
                      <th scope="col">Ad</th>
                      <th scope="col">Soyad</th>
                      <th scope="col">Randevu Tarihi</th>
                    </tr>
                  </thead>
                  <tbody>
                      @foreach (var item in Model)
                     {
                        if(item.IsApproved == true)
                        {
                            if(ViewBag.count > 0)
                            {
                                <tr>
                                  <th scope="row">@item.Id</th>
                                  <td>@item.UserName</td>
                                  <td>@item.UserSurname</td>
                                  <td>@item.AppointmentDate</td>
                                  <td><a class="btn btn-warning" asp-controller="Appointment" asp-action="Edit" asp-route-id=@item.Id>Detaya Git</a></td>
                                </tr>
                            }
                            else
                            {
                                <h3 class="text-danger">Aradığınız Kriterde Randevu Bulunamadı.</h3>
                            }
                        }
                     }
                  </tbody>
            </table>
        </div>
    </div>
    <a asp-controller="Appointment" asp-action="ExpectedAppointments" class="btn btn-primary mt-4 mb-4">Geri</a>
</div>