
@{
    ViewData["Title"] = "Success";
}

<head>
    <title>İşlem Başarılı | Koru Sigorta</title>
</head>

<body>
    <div class="container">
        <h2>İşlem Başarılı</h2>
        <h4 class="text-success mt-3">Randevunuz başarılı bir şekilde oluşturuldu.</h4>
        <br />
        <a asp-controller="Appointment" asp-action="CreateAppointment" class="btn btn-info">Geri Git</a>
    </div>
</body>